@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:white;
}
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 95%;
  margin-top: 6%;
}
.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
.slide {
  display: inline-block;
  width: 100%;
  max-height: 230px;
}
.services {
  margin: 0 auto;
  overflow: hidden;
  max-width: 97%;
  margin-top: 2%;
}
.service-slide {
  display: inline-block;
  width: 100%;
  max-height: 150px;
}
